<!DOCTYPE html>
<html>
<head>

    <title>AI Recommendations</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/dashboard.css') }}">

</head>

<body>

<div class="navbar">

    <div class="logo">
        MediSense AI
    </div>

    <div class="nav-links">

        <a href="{{ url_for('auth.dashboard') }}">
            Dashboard
        </a>

        <a href="/diabetes-prediction">
            Diabetes
        </a>

        <a href="/heart-disease-prediction">
            Heart
        </a>

        <a href="/prediction-history">
            History
        </a>

        <a href="/health-chatbot">
            AI Chatbot
        </a>

        <a href="/download-report">
            Report
        </a>

        <a href="{{ url_for('auth.logout') }}"
           class="logout-btn">
            Logout
        </a>

    </div>

</div>

<div class="dashboard">

    <div class="health-summary">

        <h2>
            AI Health Recommendations
        </h2>

        <div class="detail-grid">

            {% for item in recommendations %}

            <div class="detail-item">

                <strong>
                    {{ item }}
                </strong>

            </div>

            {% endfor %}

        </div>

    </div>

</div>

</body>
</html>